{{#partial "content"}}
    <h2 style="color: green"><i>Create a Hero for {{squad.name}}.</i></h2>
    <form action="new-hero-success" method="post">
        <div>
            <label for="name">Enter Hero name: </label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="age">Enter age: </label>
            <input type="text" name="age" id="age">
        </div>
        <div>
            <label for="specialPower">Enter weakness: </label>
            <input type="text" name="specialPower" id="specialPower">
        </div>
        <div>
            <label for="weakness">Enter weakness: </label>
            <input type="text" name="weakness" id="weakness">
        </div>

        <button type="submit" class="btn btn-primary"> Create Hero </button>
    </form>
{{/partial}}
{{>layout.hbs}}