{{#partial "content"}}
    <form action="/squads" method="post">
        <label for="name">Enter Squad name</label>
        <input type="text" name="name" id="name">
        <label for="cause">Enter the cause of your squad</label>
        <input type="text" name="cause" id="cause">
        <button type="submit"></button>
    </form>
{{/partial}}
{{> layout.hbs}}
