<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/posts">Heroes</a></li>
    <li role="presentation"><a href="/posts/new">Squads</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="https://www.superherodb.com/pictures2/portraits/10/100/1496.jpg" width="70%">
        <h1>Welcome to my Heroes App<small>An adventure with your heroes</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}