{{#partial "content"}}
<h4 class="success">Squad successfully created</h4>
<h3>Squad name is <i>{{name}}</i></h3>
<p>Cause is {{cause}}</p>
<h4><a href="/squads">View all Squads</a></h4>
<h4><a href="/">Create new squad</a></h4>
{{/partial}}
{{> layout.hbs}}